---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&display=swap"
			rel="stylesheet"
		/>

		<!-- Open graph -->
		<meta property="og:title" content="confessr - a place to share" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://confessr.vercel.app/" />
		<meta property="og:image" content="/img/share-phone.png" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#2980b9 30%,
			white 60%
		);
		--dark-text: #2c3e50;
		--not-as-dark-text: #34495e;
		--light-background: #ecf0f1;
		--green-dark: #27ae60;
		--sunburst-yellow: #f1c40f;
		--orange-glow: #e67e22;
	}

	html,
	body {
		font-family: "IBM Plex Serif", serif;
		background-color: var(--light-background);
		color: var(--dark-text);
		font-size: 17px;
		line-height: 1.4;
		margin: 0;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
